
body {
	background-color: white;
}

#container {
	width: 1150px;
	margin: auto;
}

#logo {
	width:20px;
}

.grid {
	display:grid;

	grid-template-rows: 200px 50px 250px 250px 50px;
	grid-template-columns: 275px 275px 275px 300px;		
	grid-template-areas:
		'header header header header'
		'nav    nav    nav    srch  '
		'map    map    list   intro '
		'map    map    list   login '
		'ftr    ftr    ftr    ftr';

	grid-gap:.5rem;
}

#image {
	vertical-align: top;
	width:100%;
	margin-top:0px;
}


#header {
	font-family: trebuchet ms;
	color:white;
	/*padding-top:35px;*/
	/*text-align:center;*/
	grid-area: header;
	position: relative;
	/*background-color: #277ca3;  */                    /*   HEADER COLOR*/

}

#header img {
	z-index: -1;
	width:100%;
	opacity: .8;
	position: absolute;
	bottom: 0px;
	left: 0px;
}

#header-text {
	width:500px;
	height:100px;
	margin-left:30%;
	background-color:#2b2b2b;
	margin-top:40px;
}


#header-text h1{
	padding-top:15px;
	text-align:center;
	font-size:50px;
	color:white;

}

#header-text h4 {
	color:#2b2b2b;
	text-align:center;
	margin-top:30px;

}

#intro h2 {
	background-color: #2b2b2b;
	font-family:trebuchet ms;
	font-size:15px;
	color:white;
	margin-left:10px;
	font-size:25px;
}
#intro {
	background-color: #2b2b2b;
}

#intro p {
	font-family:trebuchet ms;
	font-size:15px;
	color:white;
	margin-left:10px;
}

#list h1{
	font-family: trebuchet ms;
	text-align:center;
	color:white;
	font-size:25px;
	text-align:center;
}

#list button {
	width:255px;
	font-family:trebuchet ms;
	height:35px;
	font-size:15px;
	background-color: #2b2b2b;
	color:white;
}

#list h3 {
	width:250px;
	font-family:trebuchet ms;
	height:35px;
	font-size:15px;
	background-color: #2b2b2b;
	color:white;
	margin-left:10px;
	margin-right:10px;
	padding:5px;
}


.navbar {
	grid-area: nav;
	padding: 5px;
	background-color: #2b2b2b;
}
.dropdown {
	display: none;
}
.dropdown div {
	padding: 5px;
}
.dropdown div:hover {
	color: white;
	background-color: #2b2b2b;				
}
.navbar li {
	display: inline-block;
	font-family:trebuchet ms;
	margin-left: 5%;
	margin-top: 7px;
	color: white;
	padding: 5px;
}
.navbar li a {
	text-decoration: none;
	text-align:center;
	color:white;
	color: inherit;
}
.navbar li:hover {
	color: white;
	background-color: #277ca3;
}
#resorts {
	position: relative;
}
#resorts:hover div {
	display: block;
}

/* class to style buttons for each resort after region is clicked */

.resort-buttons {
	padding: 5px 15px;
	margin-top: 10px;
	text-align: center;
	border-radius: 4px;
	margin-left: 10px;
}

/* class to add image behind list of resort buttons */
.coloradoBgImage {
	background-image: url(./images/jorg-angeli-406235.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.utahBgImage {
	background-image: url(./images/jannes-glas-90998.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.centralCaBgImage {
	background-image: url(./images/philipp-kammerer-264298.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}

.northernCaBgImage {
	background-image: url(./images/carina-tysvaer-21855.jpg);
	background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    height: 100%;
}
#links {
	position: relative;
}
#links:hover div {
	display: block;
}

.dropdown {
	position: absolute;
	left: 0px;
	top: calc(1em + 10px);
	background-color: #277ca3;
	z-index: 999;
}


#search {
	font-family:trebuchet ms;
	grid-area: srch;
	background-color: #2b2b2b;
	color:white;
	padding: 5px;
}

#search input {
	width:175px;
	height:15px;
}

#search button {
	width:100px;
	font-family:trebuchet ms;
	height:22px;
	font-size:15px;



}

#sign-in {
	grid-area: login;
	background-color: #2b2b2b; /*	#277ca3;*/			  /* sign in COLOR*/
	padding: 5px;
}

#sign-in label{
	color:white;
	margin-top:10px;
	font-family:trebuchet ms;
	margin-left:5px;
	margin-right:5px;
}

#sign-in input {
	margin-top:10px;
	width:225px;


}
#sign-in h2{
	font-family:trebuchet ms;
	color:white;
	padding-left:10px;
	font-size:25px;
/*	margin-top:5px;
	margin-bottom:5px;*/
}



#sign-in #name{
	width:150px;
	margin-left:25px;
	margin-bottom:5px;
}

#sign-in #email{
	width:150px;
	margin-left:25px;
	margin-bottom:5px;
}

#sign-in #password{
	width:150px;
	margin-left:2px;
	margin-bottom:5px;
}

#sign-in h4 {
	font-family:trebuchet ms;
	font-size:14px;
	padding-left:5px;
	color:#2b2b2b;
}

#alert {
	color:red;
	margin-top:30px;
	margin-left:10px;
	font-size:17px;
}


#sign-in button {
 	width:100px;
	font-family:trebuchet ms;
	height:22px;
	font-size:15px;
	margin-top:15px;
	float:right;
	margin-right:5px;

}


#recent-searches {
	grid-area: rcntsrch;
	background-color: #277ca3;						  /*recent searches COLOR*/
	padding: 5px;
}

#recent-searches h2{
	font-family:trebuchet ms;
	color:white;
	padding-left:10px;
}


#recent-searches li{
	color:white;
}

#map {
	grid-area: map;
	background-color: #dddddd;
}

#list {
	grid-area: list;
	background-color: #dddddd;
}

.weatherIcon{
	height: 60px;
	width: 60px;
}

.weatherText{
	clear: both;
	text-align: center;
	color: white;
}

#footer {
	font-family:trebuchet ms;
	grid-area: ftr;
	text-align:center;
	color:white;
	background-color: #2b2b2b;
	padding: 5px;
	padding-top:15px;
}






@media(max-width: 1150px) {
	/* max-width 1150 means it ONLY does this until it gets larger than 1150, then it doesn't */

	#container {
		width: 900px;
		margin: auto;
	}

		#header h1{
		margin-top:-35px;
	}
	
	.fallingSnow {
		margin-top:-55px;
	}
	#header-text {
		
		margin-top:10%;
		margin-left:23%;
	}


	.grid {
		
		/*grid-template-columns:1fr 1fr;*/
		grid-template-rows: 200px 50px 250px 500px 50px;
		grid-template-columns: 300px 300px 300px;
		grid-template-areas:
			"header  header  header"
			"nav      nav    srch"
			"map      map   intro"   
			"list     list   login"
			"ftr      ftr     ftr";
			
	}

}

@media(max-width: 900px) {
	/* max-width 1150 means it ONLY does this until it gets larger than 1150, then it doesn't */

	#container {
		width: 700px;
		margin: auto;
	}

	#header h1{
		margin-top:-35px;
	}

	#home {
		margin-left:10px;
	}

	.fallingSnow {
		margin-top:-100px;
	}
	#header-text {
		
		margin-top:15%;
		margin-left:15%;
	}

	.grid {
		
		grid-template-rows: 200px 50px 250px 500px 50px;
		grid-template-columns: 400px 300px;
		grid-template-areas:
			"header    header"
			"nav       srch   "
			"map       intro   "   
			"list      login  "
			"ftr       ftr";
	}
}



@media(max-width: 600px) {

	
	#container {
		width: 450px;
		margin: auto;
	}

	#header h1 {
		margin-top:-55px;
	}

	#home {
		margin-left:25px;
	}

	#sign-in button {
 	width:100px;
	font-family:trebuchet ms;
	height:22px;
	font-size:15px;
	margin-top:15px;
	float:right;
	margin-right:200px;
}



.fallingSnow {
		margin-top:-165px;
	}
	#header-text {
		
		width:250px;
		height:60px;
		margin-top:28%;
		margin-left:23%;
	}


	#header-text h1 {
		font-size:25px;

		
	}

	#header-text h4 {
		font-size:12px;
		margin-top:0px;
	}

	.grid {
		
		/*grid-template-columns: 1fr 1fr 1fr 1fr;*/
		grid-template-rows: 150px 50px 250px 50px 500px 200px 200px 50px;
		grid-template-columns: 450px;
		grid-template-areas:
			"header"
			"nav"
			"map"   
			"srch"
			"list"
			"login"
			"intro"
			"ftr";
			
	}
}

.fallingSnow span {	
    display: inline-block;

    width: 20px;
    height: 20px;
    margin: -50px 60px 54px -34px;
 
    background:url("images/snowflake.png");
 
    -webkit-animation: fallingSnow 12s  linear;
    -moz-animation: fallingSnow 12s  linear;
}

.fallingSnow span:nth-child(5n+5) {
    -webkit-animation-delay: 1s;
    -moz-animation-delay: 1s;
}

.fallingSnow span:nth-child(3n+2) {
    -webkit-animation-delay: 1.5s;
    -moz-animation-delay: 1.5s;
}

.fallingSnow span:nth-child(2n+5) {
    -webkit-animation-delay: 1.7s;
    -moz-animation-delay: 1.7s;
}

@-webkit-keyframes fallingSnow {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(100px, 600px) rotateZ(270deg); 
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(150px, 800px) rotateZ(360deg);
  }
}